@{
    ViewData["Title"] = "Borrow books";
}
<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout home_page">

    <!-- header -->
    @Html.Partial("_Header")
    <!-- end header -->
    <div class="borrow mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="aboutheading">
                        <h2>Borrow <strong class="black">Books</strong></h2>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th class="col-1" scope="col">#</th>
                        <th class="col-7" scope="col">Books name</th>
                        <th class="col-2" scope="col">Borrow date</th>
                        <th class="col-2" scope="col">Return date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <!-- footer -->
    @Html.Partial("_Footer")
</body>
</html>

<!-- Log In Button
<a asp-controller="Adherents" asp-action="Index" class="btn btn-primary">Log In</a>
-->
